$homeSectionBg: rgb(6, 23, 29);
.homeSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    font-size: 3em;
    min-height: 100vh;
    
    background-color: $homeSectionBg;
    border-bottom: solid transparent 2em;
    position: relative;
  }



.cubeAnimationBox {
    transform-style: preserve-3d;
    position: absolute;
    .cube {
        margin: 1.5em auto;
        transform-style: preserve-3d;
    }
    .side {
        position: absolute;
        background-size: cover;
    
    }
    transform-origin: center;

}





.technologyBox1 {

    left:300px;
    top: 40px;
    animation: sceneRotate 20s infinite linear;

    
    .cube {
        transform: rotate3d(0, 1, 0.5, 3rad);
    }

    .side {
        width: 2em;
        height: 2em;
    }
    .front  { transform: translateZ(1em); background-image: url('../images/reactLogo.jpg');}
    .top    { transform: rotateX( 90deg)  translateZ(1em); background-image: url('../images/nodejslogo.JPG');}
    .right  { transform: rotateY( 90deg)  translateZ(1em); background-image: url('../images/html5logo.JPG');}
    .left   { transform: rotateY(-90deg)  translateZ(1em); background-image: url('../images/JavaScriptLogo.png');}
    .bottom { transform: rotateX(-90deg)  translateZ(1em); background-image: url('../images/csslogo.JPG');}
    .back   { transform: rotateY(-180deg) translateZ(1em); background-image: url('../images/mongodblogo.JPG');}

}

.technologyBox2 {

    left:900px;
    top: 450px;
    animation: sceneRotate 8s infinite linear;
    transform-origin: center;

    @keyframes sceneRotate {
        to { transform: rotateY(360deg)}
        }

    
    .cube {
        transform: rotate3d(0, 1, 0.5, 5rad);
    }

    .side {
        width: 1.5em;
        height: 1.5em;
    }
    .front  { transform: translateZ(.75em); background-image: url('../images/reactLogo.jpg');}
    .top    { transform: rotateX( 90deg)  translateZ(.75em); background-image: url('../images/nodejslogo.JPG');}
    .right  { transform: rotateY( 90deg)  translateZ(.75em); background-image: url('../images/html5logo.JPG');}
    .left   { transform: rotateY(-90deg)  translateZ(.75em); background-image: url('../images/JavaScriptLogo.png');}
    .bottom { transform: rotateX(-90deg)  translateZ(.75em); background-image: url('../images/csslogo.JPG');}
    .back   { transform: rotateY(-180deg) translateZ(.75em); background-image: url('../images/mongodblogo.JPG');}

}

.explodedCube {

    left:300px;
    top: 550px;
    animation: explodedCubeRotate 7s infinite linear;
    transform-origin: center;
    @keyframes explodedCubeRotate {
        from {transform: rotate3d(0, 1, 0.5, 0turn)} 
        to {transform: rotate3d(1, 1, 0.5, -1turn)}    }

    

    .side {
        width: 1em;
        height: 1em;
        border-radius: 50%;
    }
    .front  { transform: translateZ(1em); background-image: url('../images/githublogo.JPG');}
    .top    { transform: rotateX( 90deg)  translateZ(1em); background-image: url('../images/bootstraplogo.JPG');}
    .right  { transform: rotateY( 90deg)  translateZ(1em); background-image: url('../images/sasslogo.png');}
    .left   { transform: rotateY(-90deg)  translateZ(1em); background-image: url('../images/pythonlogo.png');}
    .bottom { transform: rotateX(-90deg)  translateZ(1em); background-image: url('../images/djangologo.png');}
    .back   { transform: rotateY(-180deg) translateZ(1em); background-image: url('../images/mysqllogo.png');}

}



.pyramidAnimationBox {
    transform-style: preserve-3d;
    position: absolute;
    left: 1200px;
    top: 70px;
    animation: pyramidAnimate 8s infinite linear;
    transform-style: preserve-3d;
    transform-origin: center;
    @keyframes pyramidAnimate {
        to { transform: rotate3d(0, 1, .2, -1turn);}
        }

    .pyramid {
        margin: 1.5em auto;


    }
    .triangleSide {
        position: absolute;
        width: 1.4em;
        height: 1.4em;
        clip-path: polygon(50% 0, 0 100%, 100% 100%);
        background-position: top;
        background-size: cover;
        // opacity: .2;
    }
    .front { transform: rotateX(30deg) translateZ(.4em); background:#6181E8}
    .right  { transform: rotateY( 90deg)  rotateX(30deg) translateZ(.4em); background: #6BFFFB}
    .left   { transform: rotateY(-90deg)  rotateX(30deg) translateZ(.4em); background:#78BBFF}
    .back   { transform: rotateY(-180deg) rotateX(30deg) translateZ(.4em); background:#61C8E8}
    
    .base { 
        transform: translateY(.4em) rotateX(90deg); 
        background: #8f8bf8; 
        width: 1.4em;
        height: 1.4em;
    }
}

.sphere {
    border-radius: 50%;
    background: radial-gradient(white 0%, transparent 40%);
    height: 2em;
    width: 2em;
    animation: pulse infinite 3s linear, sphereTurning infinite linear 8s;

    @keyframes pulse {
        0% {opacity: 50%;}
        50% {opacity: 100%;}
        100%{opacity: 50%;}
    }

    @keyframes sphereTurning {
        to { transform: rotate3d(0, 1, .2, 1turn);}
        }

}






.homeSection h1, h3 {
    color:rgb(67, 169, 206);
}

.transitionGradient {
    background: linear-gradient($homeSectionBg, rgb(56, 145, 175));
    // background-color: red;
    height: 7em;
    z-index: 1;
}

@media screen and (max-width: 600px) {
    .homeSection {
        font-size: 2em;
        display: flex;
        flex-direction: column;
        align-items: space-around;
        justify-content: center;
        height: 100%;
        text-align: center;
    }

    .technologyBox1 {
        left: 50vw;
        top: .25em;
    }

    .pyramidAnimationBox, .technologyBox2, .explodedCube {
        display: none;

    }
}